{% extends 'users/base.html' %}
{% block title %}
  <title>AbstractBaseUser - Login</title>
{% endblock title %}
{% block content %}

    <div class="login" style="border: 0.15rem solid #000000;">
      <span style="color: #530000">Login:</span>
      <form class="form-login" action="{% url 'login' %}?next={{request.path}}" method="POST">
        <input type="hidden" name="next" value="{{next}}" />
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-wrap">
          {{ form.username.errors }}
          <label for="{{ form.username.id_for_label }}" style="color: #530000;">
            {{ form.username.label }}
          </label>
          {{ form.username }}
        </div>
        <div class="form-wrap">
          {{ form.password.errors }}
          <label for="{{ form.password.id_for_label }}" style="color: #530000">
            {{ form.password.label }}
          </label>
          {{ form.password }}
        </div>
        <div class="formbox">
          <a href="{% url 'password_reset' %}" style="color: #000000">Forgot Password</a>
          <button type="submit">Login</button>
        </div>
        <h4 style="color: #000000"> Don't have an Account?
          <a href="{% url 'register' %}" style="color: #530000;">Sign up</a>
        </h4>
      </form>
    </div>

{% endblock content %}
