{% extends 'users/base.html' %}
{% block title %}
  <title>AbstractBaseUser - Password reset</title>
{% endblock title %}
{% block content %}
  <div class="pwd-reset">
    <span style="color: #530000;">Reset your password:</span>
      <form class="form-pwd-reset" action="{% url 'password_reset' %}" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-wrap">
          {{ form.email.errors }}
          <label for="{{ form.email.id_for_label }}" style="color: #530000;">
            {{ form.email.label }}:
          </label>
          {{ form.email }}
        </div>
        <div class="formbox">
          <button type="submit">Request Password Reset</button>
        </div>
      </form>
  </div>
{% endblock content %}
